* {
  margin: 0;
  padding: 0;
  font-family: "Outfit";
}

body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  @include mq("xl") {
    max-width: 1360px;
  }
  @include mq("md", max) {
    max-width: calc(100% - 8px);
  }
}

.divider {
  height: 1px;
  width: 100%;
  background: #d4dbe2;
}
