h1,
h2,
h3,
p {
  margin-bottom: 0;
  color: $text;
}

h1 {
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -0.01em;
  @include mq("lg", max) {
    font-size: 40px;
    line-height: 44px;
  }
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  @include mq("lg", max) {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}

p {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.6;
  color: $text;
  @include mq("md", max) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
